*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url('../images/cow.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}
.hero h1{
    font-family: cursive;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    color: azure;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-top: 200px;
}
.sec1{
    margin: 50px auto;
    padding: 0 10%;
}
.sec1 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
}